" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
" List actions: :actionlist

let mapleader = " "

" Paste without copy
map <leader>p "_dP
" Paste from system
map <leader>P "+p <ESC>
" Remove without copy
map <leader>d "_d

" Copy to System
map <leader>y "+y <ESC>

map <leader>r <Action>(RenameElement)
map <leader>gr <Action>(FindUsages)
map <leader>gi <Action>(GotoImplementation)
map <leader>gt <Action>(GotoTypeDeclaration)
map <leader>c <Action>(Stop)

map <leader>s <Action>(SelectInProjectView)
" Shows git history line by line
map <leader>an <Action>(Annotate)
" Shows git history
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

nmap <leader>t <Action>(ActivateTerminalToolWindow)

" Reformat the current line only
map <leader>l V<Action>(ReformatCode)

" used by buffers
" map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
map <leader>i <Action>(ShowHoverInfo)
map <leader>k <Action>(QuickJavaDoc)
map <leader>e <Action>(ShowErrorDescription)
map <leader>j <Action>(ParameterInfo)

" harpoon 
nmap <leader><C-h> <Action>(SetHarpoon1)
nmap <leader><C-g> <Action>(SetHarpoon2)
nmap <leader><C-l> <Action>(SetHarpoon3)
nmap <leader><C-s> <Action>(SetHarpoon4)

nmap <C-h> <Action>(GotoHarpoon1)
nmap <C-g> <Action>(GotoHarpoon2)
nmap <C-l> <Action>(GotoHarpoon3)
nmap <C-s> <Action>(GotoHarpoon4)

nmap <C-e> <Action>(ShowHarpoon)
nmap <C-a> <Action>(AddToHarpoon)

" bookmark
nmap <leader>ba <Action>(ToggleBookmark)
nmap <leader>bs <Action>(ShowBookmarks)

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

set surround
" set multiple-cursors
set commentary
set argtextobj
" set easymotion
" set textobj-entire
" set ReplaceWithRegister
" set exchange
set NERDTree
Plug 'machakann/vim-highlightedyank' " highlight copied text

" My custom mappings
nmap <leader>ff <Action>(SearchEverywhere)
nnoremap <leader>bb :buffers<CR>
nnoremap <leader>bp :buffer#<cr>
nnoremap <leader>bn :bnext<cr>
nnoremap <leader>vc :e~/.ideavimrc<cr>
nnoremap dim :action MethodUp<cr>f{vi{d
nnoremap dam :action MethodUp<cr>v0Of{%d
